/* first page css start*/
/*main body background start*/

body {
    font-family: Helvetica Neue LT Com 55 Roman;
    color: #ffffff;
    background-color: #2d3131;
    width: 100%;
    height: 100%;
}
.indexText {
    font-size: 35px;
}
.timeOutText {
    font-size: 35px;
}
/*main body background end*/
/* text index css*/
#refreshButton {
    background-color: #555759;
    border-color: #555759;
    margin-top: 2%;
}

#exitText {
    font-size: 35px;
}
#linkText {
    font-size: 12px;
}
#linkDownloadText {
    font-size: 28px;
}
#connectLogo {
    width: 25%;
    margin: 0 auto;
    max-width: 160px;
}
.radioLang {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 25px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* nav menu start*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #eff0f2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav heading {} .sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
    background-color: lightgrey;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/* nav menu end*/

body {
    font-family: Helvetica Neue LT Com 55 Roman;
    color: #ffffff;
    background-color: #2d3131;
    width: 100%;
    height: 100%;
}
.bodywidth {
    width: 100% !important;
}
/* Code for very small devices like Phone */

.glificon_size {
    font-size: 20px;
    color: #ffffff !important;
}
.select-style {
    position: center-right;
    width: 420px;
    height: 35px;
    border-radius: 2px;
    color: black;
    text-align: center;
    overflow: hidden;
    background: #ffffff;
    text-align-last: center;
    padding-right: 100px;
}
#wifiType {
    width: 35% !important;
}
.select-style select {
    padding: 8px 5px;
    width: 131.5%;
}
.select-style select:focus {
    outline: none;
}
label {
    vertical-align: top;
}
.refresh_button {
    padding-right: 40px;
    padding: -145px 35px;
}
.vertical-center {
    display: flex;
    align-items: center;
}
.p_title {
    font-family: Helvetica Neue LT Com 65 Medium;
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 0px !important;
    text-align: center;
}
.p_subtitle {
    font-family: Helvetica Neue LT Com 65 Medium;
    color: #ffffff;
    font-size: 20px;
    /*margin-top: 15px;*/
}
.hi_icon {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hi_icon:hover,
.hi_icon:focus,
.hi_icon:active {
    transform: scale(1.3);
}
.header_style {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2d3131;
    width: 100%;
}
.red_line_divider {
    background-color: #ee3134;
    height: 2px;
    width: 100%;
}
.blue_line_divider {
    background-color: #0000ff;
    height: 1px;
    width: 100%;
}
.wifi_list_style {
    background-color: #4d5050;
    font-family: Helvetica Neue LT Com 55 Roman;
    /* padding-top: 15px; */
    
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 1px;
    width: 10%;
}
.wifi_list_Whole_back {
    background-color: #3a4040;
    padding-top: 10px;
    padding-bottom: 150px;
    width: 100%;
}
.footergap {
    margin-top: 3%;
    /*background-color: #2d3131;
      position:absolute;
      bottom:30px;*/
}
.footer_style {
    background-color: #2d3131;
    padding: 30px;
    margin-top: 15%;
}
#Configuration {
    position: relative;
    margin: auto 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
@media only screen and (min-width: 320px) {
    .p_title {
        font-family: Helvetica Neue LT Com 65 Medium;
        color: #ffffff;
        font-size: 21px;
        margin-top: 5px;
        padding-left: 0px !important;
        text-align: center;
    }
    .indexText {
        font-size: 19px;
    }
    .timeOutText {
        font-size: 19px;
    }
    .p_title1 {
        font-family: Helvetica Neue LT Com 65 Medium;
        font-size: 22px !important;
        text-align: center;
        padding-left: 0px !important;
    }
    #exitText {
        font-size: 17px;
    }
    #linkDownloadText {
        font-size: 20px;
    }
    #linkText {
        font-size: 11.97px;
    }
    #showHide {
        margin-left: 0% !important;
    }
    .wifi {
        width: 27% !important;
    }
    .language {
        width: 30% !important;
    }
    #warmAlarm {
        text-align: center;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        color: black;
        font-size: medium;
        margin-top: 50%;
        margin-left: 9%;
        font-family: inherit;
        margin-right: 10%;
    }
    .modal-title {
        margin: 0;
        line-height: 1.42857143;
        font-size: large;
    }
    .modal-header .close {
        margin-top: -34px;
    }
    .lang {
        width: 100% !important;
    }
    .chinese {
        width: 20%;
        height: 2em;
        margin: -6% 4% 0% -26% !important;
    }
    .english {
        width: 20%;
        height: 2em;
        margin: -6% 4% 0% -31% !important;
    }
    #alertWarning {
        margin-right: -1% !important;
        background-color: #f3f3f3;
        border: 1px solid #ee3134;
        color: #333;
    }
    #warmingClose {
        color: #ee3134 !important;
    }
    #alertWarning1 {
        margin-right: -1% !important;
        background-color: #f3f3f3;
        border: 1px solid #ee3134;
        color: #333;
    }
    #warmingClose1 {
        color: #ee3134 !important;
    }
    #alertWarning2 {
        margin-top: 3%;
        margin-right: -1% !important;
        background-color: #f3f3f3;
        border: 1px solid #ee3134;
        color: #333;
    }
    #warmingClose2 {
        color: #ee3134 !important;
    }
    #alertWarning3 {
        margin-top: 3%;
        margin-right: -1% !important;
        background-color: #f3f3f3;
        border: 1px solid #ee3134;
        color: #333;
    }
    #warmingClose3 {
        color: #ee3134 !important;
    }
}
/* Code for large devices like HD Desktops*/

@media only screen and (min-width: 1170px) {
    .glificon_size {
        font-size: 28px;
    }
    .vertical-center {
        display: flex;
        align-items: center;
    }
    .indexText {
        font-size: 25px;
    }
    .timeOutText {
        font-size: 25px;
    }
    #linkText {
        font-size: 23px;
    }
    #exitText {
        font-size: 23px;
    }
    #linkDownloadText {
        font-size: 28px;
    }
    .p_title {
        font-family: Helvetica Neue LT Com 65 Medium;
        color: #ffffff;
        font-size: 40px;
    }
    .p_subtitle {
        font-family: Helvetica Neue LT Com 65 Medium;
        color: #ffffff;
        font-size: 32px;
        margin-top: 5px;
    }
    .header_style {
        padding: 10px;
        background-color: #2d3131;
    }
    .red_line_divider {
        background-color: #ee3134;
        height: 3px;
        width: 100%;
    }
    .blue_line_divider {
        background-color: #0000ff;
        height: 1px;
        width: 100%;
    }
    .wifi_list_style {
        background-color: #4d5050;
        font-family: Helvetica Neue LT Com 55 Roman;
        /* padding-top: 20px; */
        
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 2px;
        width: 10%;
    }
    .wifi_list_Whole_back {
        background-color: #3a4040;
        padding-top: 10px;
        padding-bottom: 150px;
        width: 100%;
    }
    .footer_style {
        background-color: #2d3131;
        padding: 40px;
        margin-top: 22%;
    }
}
/* Code for Medium devices like Normal Desktops*/

@media only screen and (min-width: 970px) {
    .glificon_size {
        font-size: 25px;
    }
    .indexText {
        font-size: 30px;
    }
    .timeOutText {
        font-size: 30px;
    }
    #exitText {
        font-size: 28px;
    }
    #linkDownloadText {
        font-size: 28px;
    }
    #linkText {
        font-size: 22px;
    }
    .vertical-center {
        display: flex;
        align-items: center;
    }
    .p_title {
        font-family: Helvetica Neue LT Com 65 Medium;
        color: #ffffff;
        font-size: 35px;
    }
    .p_title1 {
        font-family: Helvetica Neue LT Com 65 Medium;
        font-size: 32px !important;
        text-align: center;
        padding-left: 0px !important;
    }
    .p_subtitle {
        font-family: Helvetica Neue LT Com 65 Medium;
        color: #ffffff;
        font-size: 27px;
        margin-top: 5px;
    }
    .save {
        background-color: #338AFF;
    }
    .header_style {
        padding: 10px;
        background-color: #2d3131;
    }
    .red_line_divider {
        background-color: #ee3134;
        height: 4px;
        width: 100%;
    }
    .blue_line_divider {
        background-color: #0000ff;
        height: 1px;
        width: 100%;
    }
    .head {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #btnSearch,
    #btnClear {
        display: inline-block;
        vertical-align: top;
    }
    .wifi_list_style {
        background-color: #4d5050;
        font-family: Helvetica Neue LT Com 55 Roman;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 2px;
        width: 10%;
    }
    .wifi_list_Whole_back {
        background-color: #3a4040;
        padding-top: 10px;
        padding-bottom: 150px;
        width: 100%;
    }
    .footer_style {
        background-color: #2d3131;
        padding: 40px;
        margin-top: 44%;
    }
    .chinese {
        border: 0px;
        width: 100%;
        height: 2em;
        margin: -0.5% 0% 0% -2.65% !important;
    }
    .english {
        border: 12px;
        width: 63%;
        height: 1em;
        margin: 0.4% 0% 0% -3.2% !important;
    }
    #warmingClose {
        color: #ee3134 !important;
    }
}
/* Code for Small devices like Tablets*/

@media only screen and (min-width: 750px) {
    .glificon_size {
        font-size: 22px;
    }
    .vertical-center {
        display: flex;
        align-items: center;
    }
    #linkText {
        font-size: 23px;
    }
    #exitText {
        font-size: 23px;
    }
    #linkDownloadText {
        font-size: 28px;
    }
    .p_title {
        font-family: Helvetica Neue LT Com 65 Medium;
        color: #ffffff;
        font-size: 30px;
    }
    .p_subtitle {
        font-family: Helvetica Neue LT Com 65 Medium;
        color: #ffffff;
        font-size: 22px;
        margin-top: 5px;
    }
    .header_style {
        padding: 10px;
        background-color: #2d3131;
    }
    .red_line_divider {
        background-color: #ee3134;
        height: 4px;
        width: 100%;
    }
    .blue_line_divider {
        background-color: #0000ff;
        height: 1px;
        width: 100%;
    }
    .wifi_list_style {
        background-color: #4d5050;
        font-family: Helvetica Neue LT Com 55 Roman;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 2px;
        width: 10%;
    }
    .wifi_list_Whole_back {
        background-color: #3a4040;
        padding-top: 10px;
        padding-bottom: 150px;
        width: 100%;
    }
    .footer_style {
        background-color: #2d3131;
        padding: 40px;
        margin-top: 44%;
    }
    .wifi {
        margin-top: 2%;
        width: 7% !important;
    }
    .language {
        width: 10% !important;
    }
    #showHide {
        margin-left: 0% !important;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        color: black;
        font-size: medium;
        margin-top: 21%;
        margin-left: 9%;
        font-family: inherit;
        margin-right: 10%;
    }
    .modal-title {
        margin: 0;
        line-height: 1.42857143;
        font-size: large;
    }
    .lang {
        width: 10% !important;
    }
    .chinese {
        border: 0px;
        width: 100%;
        height: 2em;
        margin: -0.5% 0% 0% -2.65% !important;
    }
    .english {
        border: 12px;
        width: 63%;
        height: 1em;
        margin: 0.4% 0% 0% -3.2% !important;
    }
    #alertWarning {
        width: 50%;
        margin: 0 auto;
        margin-right: 23% !important;
        background-color: #f3f3f3;
        border: 1px solid #ee3134;
        color: #333;
    }
    #warmingClose {
        color: #ee3134 !important;
    }
    #alertWarning1 {
        width: 50%;
        margin: 0 auto;
        margin-right: 23% !important;
        background-color: #f3f3f3;
        border: 1px solid #ee3134;
        color: #333;
    }
    #warmingClose1 {
        color: #ee3134 !important;
    }
    #alertWarning2 {
        margin-top: 2% !important;
        width: 50%;
        margin: 0 auto;
        margin-right: 23% !important;
        background-color: #f3f3f3;
        border: 1px solid #ee3134;
        color: #333;
    }
    #warmingClose2 {
        color: #ee3134 !important;
    }
    #alertWarning3 {
        margin-top: 2% !important;
        width: 50%;
        margin: 0 auto;
        margin-right: 23% !important;
        background-color: #f3f3f3;
        border: 1px solid #ee3134;
        color: #333;
    }
    #warmingClose3 {
        color: #ee3134 !important;
    }
}
/* first page css end*/
/*wifi settings page css start*/
/*
#wifi_form .form-control {
    width: 50% !important;
    margin-left: 25%;
}
*/

#wifi_form.form-horizontal .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.wifi {
    margin-top: 2%;
    width: 10%;
}
/*#passwordField{

  margin-top: 3%;
}

  #nameField {

    margin-top: 3%;
}*/

#showHide {
    text-align: center;
    margin-left: -13%;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 999;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loaderMain {
    width: 100%;
    height: 100%;
    background-color: rgba(89, 91, 91, 0.6);
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
}
#warningImage {
    margin: -6px 8px -1px 0px;
}
/*wifi settings page css end*/
/* device information css start*/

#serial {
    text-align: center;
    font-size: 18px;
}
#model {
    text-align: center;
    font-size: 18px;
}
#make {
    text-align: center;
    font-size: 18px;
}
#saveBtn {
    display: none;
}
#mySidenav {
    display: none;
}
#menuButton {
    display: none;
}
/* device information css start*/
/*alarm-settings page css start*/

#warm {
    font-size: 21px;
}
#warmAlarm {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}
#setPoint {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}
#coldAlarm {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}
#warmTemp {
    font-size: 21px;
    margin-top: 2%;
}
/*alarm-settings page css end*/
/* language selction page css start*/

.p_title1 {
    font-size: 30px;
}
/* language selction page css end */

th {
    text-align: center;
}
/* --- material floating label --- */

.floating-label {
    color: #ffff;
    font-size: 14px;
    position: relative;
    top: 0;
    font-weight: bold;
    z-index: 2;
    opacity: 0;
}
.pin {
    color: grey;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}